@import 'tailwindcss';

@theme inline {
  --color-background: #fff8f2;
  --color-primary: #ffb7d5;
  --color-primary-dark: #a36b86;
  --color-secondary: #b3d9ff;
  --color-secondary-dark: #5a94c7;
  --color-lavender: #5e4b8b;
  --color-heading: #3b3b58;
  --color-par: #5d5d73;
  --color-button: #ffd5a5;
  --color-hover: #f3e0ff;
  --color-glow-light: #ffe299;
  --color-glow: #ffc94d;
  /* --color-glow: #ffd278; */
  --color-glow-bright: #ffc843;
}

/* @media (prefers-color-scheme: dark) {
  @theme inline {
    --color-background: #1a132c;
    --color-primary: #fec7a0;
    --color-secondary: #9cc9f5;
    --color-heading: #ffeedd;
    --color-par: #c6bfd4;
    --color-button: #ff90b3;
    --color-hover: #c78cd5;
    --color-glow: #ffd278;
  }
} */

@layer base {
  body {
    @apply text-par w-fit bg-heading;
  }
  h1 {
    @apply text-9xl font-extrabold text-primary;
  }
  h2 {
    @apply text-2xl font-bold tracking-tight mb-3;
  }
  h3 {
    @apply text-xl font-semibold mb-2;
  }

  ::selection {
    @apply bg-glow text-gray-700;
  }
}

@layer components {
  /* //TEST */
  .border-test {
    @apply border-2 border-black;
  }
  .p-main {
    @apply py-6 px-4;
  }
  .p-div {
    @apply py-4 px-6;
  }
  .p-section {
    @apply py-10 px-8;
  }
  .p-header {
    @apply py-4 px-6;
  }
  .p-nav {
    @apply py-2 pl-10 pr-4;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .bg-slight {
    @apply bg-background/70;
  }
  .bg-semi {
    @apply bg-background/50;
  }
  .bg-low {
    @apply bg-background/20;
  }
  .bg-semi-primary {
    @apply bg-primary/30;
  }

  .shadow-around {
    @apply shadow-[0_0_10px] shadow-heading;
  }
  .shadow-standard {
    @apply shadow-md shadow-par/80;
  }
  .shadow-standard-sm {
    @apply shadow-sm shadow-par/80;
  }

  .max-w-site {
    @apply max-w-[1720px];
  }

  .text-shadow {
    text-shadow: 1px 1px 1px var(--color-heading);
  }
  .text-shadow-spread {
    text-shadow: 1px 1px 5px var(--color-heading);
  }
  .text-shadow-small {
    text-shadow: 2px 2px 3px var(--color-heading);
  }

  .anim-color {
    @apply transition-colors duration-300 ease-in-out;
  }
  .anim-transform {
    @apply transition-transform duration-300 ease-in-out will-change-transform;
  }
  /* .anim-fade {
    @apply transition-opacity duration-300 ease-in-out will-change-opacity;
  } */
}
