@import 'tailwindcss';
/* @import './theme.css'; */

@theme inline {
  --color-background: #fff8f2;
  --color-primary: #ffb7d5;
  --color-primary-dark: #a36b86;
  --color-secondary: #b3d9ff;
  --color-secondary-dark: #5a94c7;
  --color-heading: #3b3b58;
  --color-par: #5d5d73;
  --color-button: #ffd5a5;
  --color-hover: #f3e0ff;
  --color-glow: #ffd278;
}

/* @media (prefers-color-scheme: dark) {
  @theme inline {
    --color-background: #1a132c;
    --color-primary: #fec7a0;
    --color-secondary: #9cc9f5;
    --color-heading: #ffeedd;
    --color-par: #c6bfd4;
    --color-button: #ff90b3;
    --color-hover: #c78cd5;
    --color-glow: #ffd278;
  }
} */

@layer base {
  body {
    @apply text-par w-fit;
  }
  h1 {
    @apply text-3xl font-extrabold text-heading;
  }
  h2 {
    @apply text-2xl font-bold tracking-tight text-[var(--color-heading)] mb-3;
  }
  h3 {
    @apply text-xl font-semibold text-[var(--color-heading)] mb-2;
  }
}

@layer components {
  .p-main {
    @apply py-6 px-4;
  }
  .p-div {
    @apply py-4 px-6;
  }
  .p-header {
    @apply py-4 px-6;
  }
  .p-nav {
    @apply py-2 pl-10 pr-4;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .bg-semi {
    @apply bg-background/50;
  }
  .bg-semi-primary {
    @apply bg-primary/30;
  }

  .shadow-standard {
    @apply shadow-md shadow-par/80;
  }
  .shadow-standard-sm {
    @apply shadow-sm shadow-par/80;
  }

  .text-shadow {
    text-shadow: 1px 1px 2px var(--color-heading);
  }
  .text-outline {
    color: var(--color-primary);
    text-shadow: -1px -1px 0 var(--color-secondary-dark),
      1px -1px 0 var(--color-secondary-dark),
      -1px 1px 0 var(--color-secondary-dark),
      1px 1px 0 var(--color-secondary-dark),
      2px 2px 4px var(--color-secondary-dark);
  }
}
