@import 'tailwindcss';

@layer base {
  body {
    @apply bg-gray-950 text-violet-50 font-sans;
  }
  h1 {
    @apply text-3xl font-bold tracking-wide pb-4 pl-2 border-b border-violet-300/30;
  }
  h2 {
    @apply text-3xl font-bold tracking-wide pb-4 pl-2 border-b border-violet-300/30;
  }
  h3 {
    @apply text-xl font-bold tracking-wide;
  }

  input[type='file']::-webkit-file-upload-button {
    padding: 2px 6px;
    background-color: #7c3aed;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }

  /* Firefox */
  input[type='file']::file-selector-button {
    padding: 2px 6px;
    background-color: #7c3aed;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
}

@layer utilities {
  .divider-b {
    @apply border-b border-violet-300/30;
  }
  .divider-y {
    @apply border-y border-violet-300/30;
  }

  .animation-prep-200 {
    @apply will-change-auto transition-all ease-in-out duration-200;
  }
  .animation-prep-300 {
    @apply will-change-auto transition-all ease-in-out duration-300;
  }
}
